$xs: 400px;
$s: 600px;
$m: 1024px;
$l: 1170px;
$xl: 1368px;


@mixin media-xs {
  @media (min-width: #{$xs}) {
    @content;
  }
}

@mixin media-xs-landscape {
  @media (min-width: #{$xs}) and (orientation: landscape){
    @content;
  }
}

@mixin media-s {
  @media (min-width: #{$s}) {
    @content;
  }
}

@mixin media-s-landscape {
  @media (min-width: #{$s}) and (orientation: landscape){
    @content;
  }
}

@mixin media-m {
  @media (min-width: #{$m}) {
    @content;
  }
}

@mixin media-m-landscape {
  @media (min-width: #{$m}) and (orientation: landscape){
    @content;
  }
}

@mixin media-l {
  @media (min-width: #{$l}) {
    @content;
  }
}

@mixin media-xl {
  @media (min-width: #{$xl}) {
    @content;
  }
}

.l--fleft {
  @include media-l {
    float: left;
  }
}

.l--fright {
  @include media-l {
    float: right;
  }
}
