$header_height: 65px;
$hamb_height: 19;
$hamb_width: 26;
$line_height: 3;
$hamb_color: $red1;
$menu_bg: transparent;
$item_bg: rgba(255, 255, 255, .9);
$menu_color: $red1;
$menu_elements: 1;

.hamb {
  position: fixed;
  z-index: 2;
  top: 23px;
  right: 20px;
  text-align: left;
  height: $hamb_height * 1px;

  @include media-s {
    transform: scale(1.5);
    right: 40px;
  }

  @include media-m {
    display: none;
  }

  a {
    display: block;

    div {
      position: relative;
      height: $hamb_height * 1px;
      width: $hamb_width * 1px;

      span {
        position: absolute;
        top: 50%;
        width: $hamb_width * 1px;
        height: $line_height * 1px;
        margin-top: - $line_height / 2  * 1px;
        background-color: $hamb_color;
        border-radius: 22px;
        transition: all .3s ease-in-out;
        transform-origin: $line_height / 2  * 1px;

        &:first-child {
          margin-top: 0;
          top: 0;
          bottom: initial;
        }

        &:last-child {
          margin-top: 0;
          top: initial;
          bottom: 0;
        }
      }
    }
  }
}

nav#menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  max-width: none;
  transition: transform .3s ease-in-out, border .3s ease-in-out;
  transform: translate(100%, 65px);

  @include media-m {
    display: none;
  }

  ul {
    width: 140px;
    overflow: hidden;
    text-align: left;
    background: $menu_bg;

    @include media-l {
      max-width: initial;
      background: transparent;
      overflow: visible;
      border: none;
    }

    li {
      margin-bottom: 0;
    }

    li:not(.back-nav) {
      display: inline-block;
      font-weight: 400;
      font-size: 1.05em;
      color: $menu_color;
      background-color: $item_bg;
      position: relative;
      z-index: 1;
      margin: auto;
      width: 100%;

      @include media-l {
        display: inline-block;
        width: auto;
        padding: 0 .7em;
      }

      a {
        padding: .6em 1em;
        font-weight: 300;
        text-transform: uppercase;
        @extend %trans;

        /*&:before {
          content: '';
          display: inline-block;
          width: 4px;
          height: 4px;
          background-color: $menu_color;
          vertical-align: middle;
          margin-right: .7rem;
          @extend %trans;
        }*/

        @include media-s {
          padding: .7em 1em;
        }

        &:hover,
        &:focus,
        &:active {
          color: $item_bg;
          background-color: $menu_color;

          &:before {
            background-color: $item_bg;
          }
        }
      }
    }

    li.back-nav {
      top: -999em;
      bottom: -99em;
      z-index: 0;

      a {
        display: block;
        height: 100%;
      }
    }

    li#back1 {
      left: -100em;
      right: -100em;

      @include media-l {
        display: none;
      }
    }

    li#back2 {
      display: none;
      left: -100em;
      right: -100em;

      @include media-l {
        display: initial;
      }
    }
  }

  &:target {
    transform: translate(0, 65px);

    ul {
      //max-width: none;

      li#back1 {
        position: absolute;
      }
    }

    $line_width: ((1.4142 * $hamb_height) - ($line_height / 2)) * 1px;

    & + .hamb {
      span:first-child {
        width: $line_width;
        transform: rotate(45deg);
      }

      span {
        width: 0;
      }

      span:last-child {
        width: $line_width;
        transform: rotate(-45deg);
      }
    }

    & ~ #row1 .col-r, & ~ #row2 .col-l {
      opacity: 0;
    }
  }
}