.button {
  height: 82px;
  width: 90%;
  max-width: 480px;
  border: 1px solid $white;
  border-radius: 59px;
  font-weight: 300;
  font-size: $s2;
  text-transform: uppercase;
  display: inline-block;
  line-height: 80px;
  margin: 1em auto;
  transition: .3s ease-in-out;

  @include media-m {
    height: 118px;
    line-height: 116px;
    margin: 1em .5em;
  }
}



.button-small {
  display: inline-block;
  height: 32px;
  width: 140px;
  line-height: 30px;
  font-size: $s-1;
  font-weight: 300;
  text-transform: uppercase;
  color: $text-black;
  border: 1px solid $black1;
  border-radius: 59px;
  transition: background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;

  @include media-m {
    height: 36px;
    width: 155px;
    line-height: 34px;
    font-size: $s0;
  }

  &:hover,
  &:focus,
  &:active  {
    background-color: $red1;
    color: $text-white;
    border-color: $red1;
  }
}

.button,
.button-small {
  &.red {
    border-color: $white;
    color: $text-white;

    &:hover,
    &:focus,
    &:active  {
      background-color: $white;
      color: $text-red;
    }
  }
}

a {
  transition: .3s all ease-in-out;

  &:hover,
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $text-red;
  }
}