$s7: 4rem;
$s6: 3rem;
$s5: 2.5rem;
$s4: 2.25rem;
$s3: 2rem;
$s2: 1.5rem;
$s1: 1.25rem;
$s0: 1rem;
$s-1: .875rem;

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

h3 {
  font-size: $s4;
  font-weight: 300;
  line-height: 1.3;

  @include media-xs {
    font-size: $s5;
  }

  @include media-m {
    font-size: $s6;
  }

  @include media-l {
    font-size: $s7;
  }
}

h4 {
  font-size: $s2;
  font-weight: 300;
  line-height: 1.2;

  @include media-m {
    font-size: $s4;
  }
}