@import "base/baseline";
@import "base/breakpoints";
@import "base/placeholders";
@import "base/colors";
@import "base/variables";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import "base/typography";
@import "base/animations";
@import "base/navigation";
@import "base/menu";
@import "templates/header";
@import "templates/footer";
@import "templates/business";
@import "templates/certificates";
@import "templates/contact";
@import "templates/home";
@import "templates/house";
@import "templates/404";

$wrapper_width: 90%;

body {
  font-family: 'Lato', sans-serif;
}

h3 {
  margin-bottom: 0;

  &.with-margin {
    margin-bottom: 3.2rem;

    @include media-m {
      margin-bottom: .5rem;
    }
  }
}

h4 {
  margin-bottom: 3rem;

  @include media-m {
    margin-bottom: 3.5rem;
  }
}

.wrapper {
  width: $wrapper_width;
  max-width: 1170px;
  margin: auto;
}

.logo-wrapper {
  $w: 180px;
  $h: 60px;
  $w_m: 270px;
  $h_m: 90px;

  position: absolute;
  width: $w;
  height: $h;
  top: 3.25rem;
  left: 0;
  right: 0;
  margin: auto;

  @include media-xs-landscape {
    top: 2rem;
  }

  @include media-m {
    top: 6.25rem;
    width: $w_m;
    height: $h_m;
  }

  img {
    position: relative;
    z-index: 2;
    width: $w;
    height: $h;
    transition: .3s all ease-in-out;
    transform-origin: top;

    @include media-m {
      width: $w_m;
      height: $h_m;
    }
  }

  &.sticky {

    img {
      position: fixed;
      transform: scale((0.5 * $w_m/$w));
      top: 10px;
      left: 0;
      right: 0;
      margin: 0 auto;

      @include media-m {
        transform: scale((0.5 * $w_m/$w_m));
      }
    }
  }
}

.contact-button {
  display: none;

  @include media-m {
    display: block;
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;

    .wrapper {
      position: relative;
      z-index: 3;

      .button-small {
        position: absolute;
        right: 0;
      }
    }

    &.sticky {
      .wrapper {
        position: fixed;
        left: 0;
        right: 0;
        top: 14px;
      }
    }
  }
}

.top-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .top-image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: zoomin;
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;
    z-index: -1;
    will-change: contents;
  }

  h1 {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    font-weight: 300;
    margin: 11rem auto 0;
    text-align: center;
    line-height: 2rem;
    padding: 0 1rem;

    @include media-xs-landscape {
      margin-top: 7rem;
    }

    @include media-m-landscape {
      margin-top: 18rem;
    }

    @include media-m {
      font-size: $s4;
      margin-top: 18rem;
      line-height: 2.75rem;
    }
  }
}

.mouse {
  position: absolute;
  bottom: 85px;
  left: 0;
  right: 0;
  margin: auto;
  height: 54px;
  width: 30px;
  border: 2px solid $black1;
  border-radius: 15px;
  text-align: center;
  padding-top: 12px;
  transform: scale(.8);
  display: none;

  @include media-m {
    display: block;
    bottom: 30px;
    transform: scale(1);
  }

  div {
    will-change: contents;
    height: 8px;
    width: 8px;
    background-color: $red1;
    margin: auto;
    animation-name: mouse;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}

.red-background {
  background-color: $red1;
  width: 100%;
  height: 50vh;
  min-height: 420px;
  max-height: 520px;

  &.wide {
    .wrapper {
      max-width: 1500px;
    }
  }

  .wrapper {
    width: 95%;
  }

  .content {
    position: relative;
  }

  .with-anim {
    opacity: 0;
  }

  img {
    position: absolute;
    top: -5em;
    left: 0;
    right: 0;
    margin: auto;

    @include media-m {
      top: -7em;
    }
  }

  &.animate {
    .with-anim {
      opacity: 0;
      animation-name: red-background-content;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both;
    }
  }
}

.va-middle {
  height: 100%;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
  }

  & > div {
    display: inline-block;
    vertical-align: middle;
    width: 98%;
  }
}

.content-with-image {
  position: relative;

  .with-anim {

    @include media-m {
      opacity: 0;
    }
  }

  .image {
    background-position: 30% 40%;
    background-size: cover;
    width: unquote(100% / $wrapper_width * 100 + '%');
    height: 50vh;
    margin-left: -6%;
    will-change: contents;

    @include media-m {
      position: absolute;
      left: 0;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      width: 50%;
      margin-left: 0;
      display: inline-block;
    }
  }

  .text {
    width: 100%;
    will-change: contents;
    padding: 2.5rem .8rem;

    @include media-m {
      margin-left: 50%;
      width: 50%;
      display: inline-block;
      padding: 100px 0 90px 60px;
    }

    & > div {
      position: relative;
    }

    .button-small {
      position: absolute;
      right: 0;
      top: -4px;

      @include media-m {
        top: -2px;
      }
    }

    h2 {
      font-size: $s2;
      margin: 0 0 1.5em;
      text-transform: uppercase;
      font-weight: 300;

      @include media-m {
        font-size: $s3;
      }
    }

    p {
      font-size: $s-1;
      margin: 1.8em 0;
      font-weight: 300;
      line-height: 1.5;

      @include media-m {
        font-size: $s1;
      }

      a {
        display: initial;
      }
    }

    .logos-wrapper {
      margin-top: 40px;
      text-align: center;

      @include media-m {
        margin-top: 97px;
        text-align: left;
      }

      img {
        display: inline-block;
        vertical-align: middle;

        &:first-child {
          margin-right: 37px;
        }
      }
    }
  }

  @include media-m {
    &.animate {
      .with-anim {
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
      }

      .image.with-anim {
        animation-name: content-image;
      }

      .text.with-anim {
        animation-name: content-text;
      }
    }
  }
}

.no-js .with-anim {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}
