.err404 {

  .top-wrapper {
    height: calc(100vh - 195px);

    @include media-m {
      height: calc(100vh - 350px);
    }

    h6 {
      color: $text-red;
      font-size: 4rem;
      margin: 0 auto;
      text-align: center;
    }

    h1 {
      margin-top: 3rem;
    }

    .button-small {
      width: auto;
      margin: 1.5rem auto 0;
      padding: 0 1.5rem;
    }
  }
}