.certificates {

  .dates {
    margin: 85px auto 86px;

    @include media-m {
      margin: 185px auto 86px;
    }

    .wrapper {
      max-width: 767px;
    }
  }

  .date-wrapper {
    margin-bottom: 2rem;
    padding: 0 .8rem;

    @include media-m {
      padding: 0;
      margin-bottom: 3.5rem;
    }

    h5 {
      font-size: $s3;
      font-weight: 700;
      line-height: 1.5;
      color: $text-black;

      @include media-m {
        font-size: $s5;
      }
    }

    p {
      font-size: $s-1;
      font-weight: 300;
      color: $text-black;
      line-height: 1.5;

      @include media-m {
        font-size: $s1;
      }
    }
  }
}