.contact {

  .top-wrapper {
    color: $text-black;
    font-size: $s2;
    font-weight: 300;
    line-height: 44px;
    text-align: center;
    height: 100vh;

    @include media-xs-landscape {
      line-height: 34px;
    }

    @include media-m-landscape {
      line-height: 44px;
    }

    .va-middle > div {
      position: relative;
      padding-top: 2rem;

      @include media-xs-landscape {
        padding-top: 5rem;
      }
    }

    .links {
      text-align: center;

      a {
        display: inline-block;
        //safari mobile highlight fix
        -webkit-tap-highlight-color: rgba(0,0,0,0);
      }
    }

    a,
    p {
      font-size: $s1;

      @include media-m {
        font-size: $s2;
        margin-bottom: .5rem;
      }
    }

    .clause {
      font-size: $s0;
      max-width: 1000px;
      width: 90%;
      line-height: 24px;
      left: 0;
      right: 0;
      margin: 1rem auto 0;

      @include media-m {
        margin-top: 3rem;
      }

      br {
        display: initial;

        @include media-s {
          display: none;
        }
      }
    }
  }

  #map {
    width: 100%;
    height: 1000px;

    .gm-style > div:first-child > div > div > div > img {
      width: 200px !important;
      height: 50px !important;

      @include media-s {
        width: 300px !important;
        height: 75px !important;
      }

      @include media-m {
        width: 400px !important;
        height: 100px !important;
      }
    }
  }
}