footer {
  padding: 2.5rem 0;

  @include media-m {
    padding: 100px 0;
  }

  ul {
    margin: auto;

    li {
      display: inline-block;
      text-transform: uppercase;
      color: $text-black;
      font-size: $s-1;
      font-weight: 300;
      padding: .4rem;

      @include media-m {
        font-size: $s1;
        padding: 0 1em;
      }
    }
  }

  .box {
    height: 10px;
    width: 10px;
    background-color: $red1;
    margin: 2rem auto;
    transition: all .3s ease-in-out;

    @include media-m {
      margin: 50px auto 54px;
    }

    &:hover,
    &:focus,
    &:active  {
      transform: scale(1.2);
    }
  }

  p {
    font-size: $s-1;
    font-weight: 300;
    color: $text-black;
  }
}
