header {

  .bar {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 65px;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    transition: .3s transform ease-in-out;
    transform: translate(0, -65px);
    box-shadow: 0 4px 31px -10px rgba(65, 64, 66, .2);
  }

  #menu {
    transition: transform .3s ease-in-out;
  }

  &.show {

    .bar {
      transform: translate(0, 0);
    }
  }
}