.home {
  .top-wrapper {
    .top-image {
      background-image: url('/img/home1_1.jpg');
      background-position: bottom;

      @include media-xs-landscape {
        background-image: url('/img/home1.jpg');
      }
    }
  }
}
